.popup__text {
    border: 1px solid transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    padding: 30px 0 14px;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #000000;
}

.popup__text:focus {
    border: 1px solid #628ecc;
}

.popup__text::-webkit-input-placeholder {    
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
}

.popup__text:-moz-placeholder { 
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22;
    color: #000000; 
 }
 
 .popup__text::-moz-placeholder {  
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22;
    color: #000000;
 }
 
 .popup__text:-ms-input-placeholder {  
    font-family: inherit;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.22; 
    color: #000000;
 }
