.form-auth__link {
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding: 0;
    text-decoration: none;
}