.header__email{
    font-family: inherit;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: right;
    color: #FFFFFF;
    margin: 0;
    padding: 0 24px 0;
}

@media screen and (max-width: 540px) {

    .header__email {
        padding-bottom: 18px;
    }
}