.header__image {
    max-width: 142.01px;
    height: auto;
    padding: 0;
    margin: 0;
    transition: opacity 0.2s ease-in-out;
}

.header__image:hover {
    opacity: 0.8;
}


@media screen and (max-width: 768px) {
    .header__image {
        max-width: 103.74px;
    }    
}
